<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.mos.openfire.plugin.B9Plugin</class>
   <name>B9</name>
   <description>Openfire Administration bot.</description>
   <author>Marcelo Hartmann Terres</author>
   <version>0.2.1</version>
   <date>09/26/2014</date>
   <minServerVersion>3.8.0</minServerVersion>
</plugin>
