<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.mos.openfire.plugin.B9Plugin</class>
   <name>B9</name>
   <description>Openfire Administration bot.</description>
   <author>Marcelo Hartmann Terres</author>
   <version>0.3.1</version>
   <date>08/30/2015</date>
   <minServerVersion>3.10.0</minServerVersion>

   <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
            	<item id="b9-form" name="B9 Properties" url="b9-form.jsp" description="Settings for B9" />
            </sidebar>
      </tab>
   </adminconsole>
</plugin>

