<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.mos.openfire.plugin.B9Plugin</class>
   <name>B9</name>
   <description>Openfire Administration bot.</description>
   <author>Marcelo Hartmann Terres</author>
   <version>0.1.1</version>
   <date>08/19/2014</date>
   <minServerVersion>3.8.0</minServerVersion>

   <adminconsole>
      <tab id="tab-users">
         <sidebar id="sidebar-users">
            <item id="b9-form" name="Administration Bot" url="b9-form.jsp" description="Administration Bot" />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
